*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-wheat: hsl(39, 76%, 70%);
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: linear-gradient(var(--dark-wheat), hwb(0 8% 85%));
    font-family: monospace;
    font-weight: bold;
}
.first_section{
    width: 100vw;
    height: 100vh;
    background-color: hwb(0 8% 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first_section h1{
    padding: 0.5rem 1rem;
    font-size: 2rem;
    text-align: center;
    color: var(--dark-wheat);
}
.first_section button{
    cursor: pointer;
    align-self: center;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
    width: 200px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--dark-wheat);
    color: hwb(0 8% 85%);
}
.first_section button:hover{
    background-color: hsl(39, 77%, 65%);
}
.first_section button:active{
    background-color: hsl(39, 77%, 55%)
}
.second_section{
    display: none;
}

.third_section{
    width: 100vw;
    height: 100vh;
    color: hwb(0 8% 85%);
    background-color: var(--dark-wheat);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third_section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third_section p{
    font-size: 4.5rem;
}
.third_section h1{
    font-size: 2.5rem;
}
.third_section h2{
    font-size: 1.5rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.6rem;
}


.container div{
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    color: hwb(0 8% 60%);
    display: grid;
    place-content: center;
    font-size: 4rem;
}

.restart{
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: hwb(0 8% 85%);
    color: wheat;
}

.restart:hover{
    background-color: hwb(0 8% 80%);
    color: wheat;
    transform: scale(1.07);
}
.restart:active{
    color: hsla(39, 77%, 83%, 0.522);
}
.play_again{
    cursor: pointer;
    align-self: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    width: 500px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: hwb(0 8% 85%);
    color: var(--dark-wheat);
}
.play_again:hover{
    background-color: hwb(0 8% 75%);
}
.play_again:active{
    background-color: hwb(0 8% 95%);

}
